---
http_interactions:
- request:
    method: get
    uri: https://cve.circl.lu/api/cve/CVE-2016-9337
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
            "Modified": "2017-03-14T09:16:18.140000",
            "Published": "2017-02-13T16:59:01.610000",
            "access": {
                "authentication": "NONE",
                "complexity": "HIGH",
                "vector": "NETWORK"
            },
            "capec": [
                {
                    "id": "11",
                    "name": "Cause Web Server Misclassification",
                    "prerequisites": "Web server software must rely on file name or file extension for processing.",
                    "related_weakness": [
                        "69",
                        "77"
                    ],
                    "solutions": "Implementation: Server routines should be determined by content not determined by filename or file extension.",
                    "summary": "An attack of this type exploits a Web server's decision to take action based on filename or file extension. Because different file types are handled by different server processes, misclassification may force the Web server to take unexpected action, or expected actions in an unexpected sequence. This may cause the server to exhaust resources, supply debug or system data to the attacker, or bind an attacker to a remote process.\nThis type of vulnerability has been found in many widely used serv[...]
